<div>
    <br>
    <h3>{{pageTitle}}</h3>
    <hr class="line1">
    <form>
        <div class="form-group">
            <label>Prefix</label>
            <select>
                <option>Just to see at least one option</option>
                <option *ngFor='let prefix of prefixes'>
                    {{ prefix.prefix_name }}
                </option>
            </select>
            <br/>
            <label>Course #</label>
                <input type="text" class="form-control" required placeholder="####"/>
                            <br/>
            <label>CRN</label>
                <input type="text" class="form-control" required placeholder="#####"/>
                            <br/>
            <label>Pay</label>
            <select>
                <option>Some pay</option>
                <option>Some other pay</option>
            </select>
                        <br/>
            <label>Credits</label>
            <select>
                <option>Some credits</option>
                <option>Some other credits</option>
            </select>
                        <br/>
            <button (click)="goBack()">Cancel</button>
            <button type="submit">Accept</button>
        </div>
    </form>
 </div>