<div id="list-wrapper">
    <h3 class="header">{{pageTitle}}</h3>
    <hr class="header-line">

    <div class="list-content">
        <p>This page will show the current list of courses as well as links for
            adding, editing, or removing courses.
        </p>

        <p>Note: The following is only sample data to show off the buttons and routing, and will be erased once actual data is inserted</p>

        <div id="list">
            <ul class="list">
                <!-- Some sample data -->
                <li>
                    <div class="courseItem">Advanced Internet Programming
                        <span class="buttons">
                            <a [routerLink]="['/courseForm']">Edit</a>
                            <a href="#">Remove</a>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="courseItem">Adv. Software Engineering Methods
                        <span class="buttons">
                            <a [routerLink]="['/courseForm']">Edit</a>
                            <a href="#">Remove</a>
                        </span>
                    </div>
                </li>
                <!-- End sample data -->
                <li *ngFor='let course of courses'> <!-- *ngFor for the element to be repeated?-->
                    <div class="courseItem">{{ course.course_name }}
                        <span class="buttons">
                            <a [routerLink]="['/courseForm']">Edit</a>
                            <a href="#">Remove</a>
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        <li><a [routerLink]="['/courseForm']">Add Course</a></li>
        <li><a [routerLink]="['/editCourse']">Edit Course</a></li>
        <li><a [routerLink]="['/removeCourse']">Remove Course</a></li>
    </div>
</div>
