<div>
    <p>This page will show the current list of courses as well as links for
        adding, editing, or removing courses.
        </p>
<table border='1'>
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Course Desc</th>
        <th>Credit Hours</th>
        <th>Prefix ID</th>
    </tr>
    <tbody>
        <tr *ngFor='let course of courses'>
            <td>{{ course.course_id }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ course.course_description }}</td>
            <td>{{ course.course_credit_hours }}</td>
            <td>{{ course.prefix_id }}</td>
        </tr>
    </tbody>
</table>
    <li><a [routerLink]="['/add']">Add Course</a></li>
    <li><a [routerLink]="['/edit']">Edit Course</a></li>
    <li><a [routerLink]="['/remove']">Remove Course</a></li>

</div>
