<table border='1'>
    <tr>
        <th>Course ID</th>
        <th>Course Name</th>
        <th>Course Desc</th>
        <th>Credit Hours</th>
        <th>Prefix ID</th>
    </tr>
    <tbody>
        <tr *ngFor='let course of courses'>
            <td>{{ course.course_id }}</td>
            <td>{{ course.course_name }}</td>
            <td>{{ course.course_description }}</td>
            <td>{{ course.course_credit_hours }}</td>
            <td>{{ course.prefix_id }}</td>
        </tr>
    </tbody>
</table>
