    <div class='panel panel-primary'>
        <div class='panel-heading'>
            <h1>{{ appTitle }}</h1>
        </div>
        <nav class='navbar navbar-default'>
            <div class='container-fluid'>
                <a class='navbar-brand'>{{pageTitle}}</a>
                <div class='nav navbar-nav'>
                    <div>
                        <div class="dropdown">
                            <a href="#" onclick="LoadSubMenu()">Add Resources</a>
                            <div class="dropdown-content">
                                <a [routerLink]="['/courseList']">Courses</a>
                                <a [routerLink]="['/instructorList']">Instructors</a>
                                <a [routerLink]="['/roomList']">Rooms</a>
                                <a [routerLink]="['/campusForm']">Add Campus</a>
                                <a [routerLink]="['/prefixForm']">Add Prefix</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a [routerLink]="['/sectionForm']">Add Sections</a>
                    </div>
                    <div>
                        <a [routerLink]="['/home']">Home View</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class='container'>
            <!-- Where all the main content is displayed -->
            <router-outlet></router-outlet>
        </div>

</div>
