<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                {{ appTitle }}
            </li>
            <li>
                <a [routerLink]="['/home']">Home View</a>
            </li>
            <li>
                <a [routerLink]="['/sectionForm']">Add Section</a>
            </li>
            <li>
                <div class="dropdown">
                    <a href="#">Resources</a>
                    <div class="dropdown-content">
                        <a [routerLink]="['/semesterList']">Semester</a>
                        <a [routerLink]="['/instructorList']">Instructor</a>
                        <a [routerLink]="['/courseList']">Course</a>
                        <a [routerLink]="['/prefixForm']">Prefix</a>
                        <a [routerLink]="['/roomList']">Room</a>
                        <a [routerLink]="['/buildingForm']">Building</a>
                        <a [routerLink]="['/campusForm']">Campus</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
