# That darn .idea/ folder
.idea/

# That darn schedule.db
data/schedule.db

# pycache
data/__pycache__/

# .js and .js.map
*.component.js
*.component.js.map
*.service.js
*.service.js.map
*.module.js
*.module.js.map
*.model.js
*.model.js.map
*.js
*.js.map