<script src="../campuses/campus-form.component.ts"></script>
<div id="form-wrapper">
    <h2 class="header">{{pageTitle}}</h2>
    <hr class="header-line">

    <div class="form-content">
        <form #form="ngForm" (submit)='submitForm(form)'>
            <div class="form-group">
                <label>Campus Name</label>
                    <input type="text" class="form-control" required placeholder="Campus Name" name="campus_name" [(ngModel)]="model.campus_name"/>
                    <br/>

                <button (click)="processAndGoBack()" type="submit">Submit</button>
                <button (click)="goBack()">Cancel</button>

            </div>
        </form>

        <!--Model: {{ model | json }}
        <br>
        Angular: {{ form.value | json }}-->

    </div>
 </div>