<div id="view-wrapper">
    <h2 class="header">{{pageTitle}}</h2>
    <hr class="header-line">
    <nav>
        <a [routerLink]="['/instrView']">By instructor</a> 
        <a [routerLink]="['/roomView']">By Room</a>
        <a [routerLink]="['/courseView']">By Course</a>
    </nav>
        <table>
            <!--
            <tr>
                <th *ngFor='let value in section'>value</th>
            </tr>
            -->
            <!-- This is hardcoded dummy data. The real implementation is above. -->
            <tr>
                <th>Instructors</th>
                <th>Course</th>
                <th>CRN</th>
                <th>Hours</th>
                <th>Days</th>
                <th>Room</th>
                <th>Max</th>
                <th>Hrs</th>
                <th>Campus</th>
                <th>Pay</th>
                <th>Load/Ovld</th>
                <th>Hrs Req</th>
            </tr>
            <tr>
            </tr>
        </table>
</div>