<div id="list-wrapper">
    <h2 class="header">{{pageTitle}}</h2>
    <hr class="header-line">

    <div class="list-content">
        <!--
        <p>This page will show the current list of semesters as well as links for
            adding, editing, or removing semesters.
        </p>
        -->

        <button [routerLink]="['/semesterForm']">Add Semester</button>

        <div style="overflow-x:auto">
            <table>
                <tr>
                    <th>Semester ID</th>
                    <th>Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Section</th>
                </tr>
                <tbody>
                    <tr *ngFor='let semester of semesters'>
                        <td>{{ semester.semester_id }}</td>
                        <td>{{ semester.semester_name }}</td>
                        <td>{{ semester.semester_start_date }}</td>
                        <td>{{ semester.semester_end_date }}</td>
                        <td>{{ semester.section }}</td>

                        <td><a [routerLink]="['/editSemester']">Edit</a></td>
                        <td><a [routerLink]="['/removeSemester']">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>