<div>
    <h3>{{pageTitle}}</h3>

    <form #form="ngForm" (submit)='submitForm(form)'>
        <div class="form-group">
            <label>Semester Name</label>
                <input type="text" class="form-control" name="semester_name" [(ngModel)]="model.semester_name"/>
                <br/>
            <label>Semester Start Date</label>
                <input type="text" class="form-control" required placeholder="MM/DD/YYYY" name="semester_start_date" [(ngModel)]="model.semester_start_date"/>
                <br/>
            <label>Semester End Date</label>
                <input type="text" class="form-control" required placeholder="MM/DD/YYYY" name="semester_end_date" [(ngModel)]="model.semester_end_date"/>
                <br/>
            <button (click)="goBack()">Cancel</button>
            <button type="submit">Submit</button>
        </div>
    </form>

    Model: {{ model | json }}
    <br>
    Angular: {{ form.value | json }}

 </div>