<div id="list-wrapper">
    <h2 class="header">{{pageTitle}}</h2>
    <hr class="header-line">

    <div class="list-content">
        <!--
        <p>This page will show the current list of prefixes as well as links for
            adding, editing, or removing prefixes.
        </p>
        -->

        <button [routerLink]="['/prefixForm']">Add Prefix</button>

        <div style="overflow-x:auto">
            <table>
                <tr>
                    <th class="id-column">Prefix ID</th>
                    <th class="name-column">Name</th>
                </tr>
                <tbody>
                    <tr *ngFor='let prefix of prefixes'>
                        <td class="id-column">{{ prefix.prefix_id }}</td>
                        <td class="name-column">{{ prefix.prefix_name }}</td>

                        <td class="edit-column"><a [routerLink]="['/editPrefix']">Edit</a></td>
                        <td class="remove-column"><a [routerLink]="['/removePrefix']">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>