<div>
    <h3>{{pageTitle}}</h3>
    <form>
        <div class="form-group">
            <label>First Name</label>
                <input type="text" class="form-control" required placeholder="First Name"/>
                <br/>
            <label>Last Name</label>
                <input type="text" class="form-control" required placeholder="Last Name"/>
                <br/>
            <label>Hours Required</label>
                <input type="text" class="form-control" required placeholder="##"/>
                <br/>
            <label>Release Hours</label>
                <br/>
            <label>Courses</label>
                <br/>
            <label>Notes</label>
                <br/>
        </div>
    </form>
 </div>