<div>
    <h3>{{pageTitle}}</h3>
    <form #form="ngForm" novalidate>
        <div class="form-group">
            <label>First Name</label>
                <input type="text" class="form-control" required placeholder="First Name" name="firstName" ngModel/>
                <br/>
            <label>Last Name</label>
                <input type="text" class="form-control" required placeholder="Last Name" name="lastName" ngModel/>
                <br/>
            <label>Hours Required</label>
                <input type="text" class="form-control" required placeholder="##" name="hoursRequired" ngModel/>
                <br/>
            <label>Release Hours</label>
                <br/>
            <label>Courses</label>
                <br/>
            <label>Notes</label>
                <br/>

            <!-- Testing input types from Angular Forms tutorial -->
            <div class ="checkbox">
                <label>
                    <input type="checkbox" name="test-checkbox" ngModel> Test Checkbox
                </label>
            </div>

            <label>Payment Type</label>
            <div class="radio">
                <label>
                    <input type="radio" name="test-radio" value="radio1" checked> Radio1
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="test-radio" value="radio2"> Radio2
                </label>
            </div>

            <div class="form-group">
                <label>Select Test</label>
                <select class="form-control">
                    <option *ngFor="let testItem of testItems">
                        {{ testItem }}
                    </option>
                </select>
            </div>




            <!-- done testing -->
            <button type="submit">Submit</button>
        </div>
    </form>

    Form.pristine: {{ form.pristine }}

 </div>