<div id="list-wrapper">
    <h2 class="header">{{pageTitle}}</h2>
    <hr class="header-line">

    <div class="list-content">
        <!--
        <p>This page will show the current list of instructors as well as links for
            adding, editing, or removing instructors.
        </p>
        -->

        <button [routerLink]="['/instructorForm']">Add Instructor</button>

        <div style="overflow-x:auto">
            <table>
                <tr>
                    <th>Instructor ID</th>
                    <th>First Name</th>
                    <th>Last Name </th>
                    <th>Hours Required</th>
                    <th>Notes</th>
                </tr>
                <tbody>
                    <tr *ngFor='let instructor of instructors'>
                        <td>{{ instructor.instructor_id }}</td>
                        <td>{{ instructor.instructor_first_name }}</td>
                        <td>{{ instructor.instructor_last_name }}</td>
                        <td>{{ instructor.instructor_hours_required }}</td>
                        <td>{{ instructor.instructor_notes }}</td>

                        <td><a [routerLink]="['/editInstructor']">Edit</a></td>
                        <td><a [routerLink]="['/removeInstructor']">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>