<div id="list-wrapper">
    <h2 class="header">{{pageTitle}}</h2>
    <hr class="header-line">

    <div class="list-content">
        <!--
        <p>This page will show the current list of instructors as well as links for
            adding, editing, or removing instructors.
        </p>
        -->

        <button [routerLink]="['/instructorForm']">Add Instructor</button>

        <div style="overflow-x:auto">
            <table>
                <tr>
                    <th class="id-column">Instructor ID</th>
                    <th class="name-column">First Name</th>
                    <th class="name-column">Last Name </th>
                    <th class="hour-column">Hours Required</th>
                    <th class="note-column">Notes</th>
                </tr>
                <tbody>
                    <tr *ngFor='let instructor of instructors'>
                        <td class="id-column">{{ instructor.instructor_id }}</td>
                        <td class="name-column">{{ instructor.instructor_first_name }}</td>
                        <td class="name-column">{{ instructor.instructor_last_name }}</td>
                        <td class="hour-column">{{ instructor.instructor_hours_required }}</td>
                        <td class="note-column">{{ instructor.instructor_notes }}</td>

                        <td class="edit-column"><a [routerLink]="['/instructorForm/edit']">Edit</a></td>
                        <td class="remove-column"><a [routerLink]="['/removeInstructor']">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>