<div id="list-wrapper">
    <h3 class="header">{{pageTitle}}</h3>
    <hr class="header-line">

    <div class="list-content">
        <p>This page will show the current list of rooms as well as links for
            adding, editing, or removing courses.
        </p>

        <button [routerLink]="['/roomForm']">Add Room</button>

        <div style="overflow-x:auto">
            <table>
                <tr>
                    <th>Room ID</th>
                    <th>Room Name</th>
                    <th>Room Description</th>
                    <th>Room Capacity</th>
                </tr>
                <tbody>
                    <tr *ngFor='let room of rooms'>
                        <td>{{ room.room_id }}</td>
                        <td>{{ room.room_name }}</td>
                        <td>{{ room.room_capacity }}</td>
                        <td>{{ room.room_building_id }}</td>

                        <td><a [routerLink]="['/edit']">Edit Room</a></td>
                        <td><a [routerLink]="['/remove']">Remove Room</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
