<div id="list-wrapper">
    <h2 class="header">{{pageTitle}}</h2>
    <hr class="header-line">

    <div class="list-content">
        <!--
        <p>This page will show the current list of rooms as well as links for
            adding, editing, or removing courses.
        </p>
        -->

        <button [routerLink]="['/roomForm']">Add Room</button>

        <div style="overflow-x:auto">
            <table>
                <tr>
                    <th>Room ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Capacity</th>
                </tr>
                <tbody>
                    <tr *ngFor='let room of rooms'>
                        <td>{{ room.room_id }}</td>
                        <td>{{ room.room_name }}</td>
                        <td>{{ room.room_capacity }}</td>
                        <td>{{ room.building }}</td>

                        <td><a [routerLink]="['/edit']">Edit</a></td>
                        <td><a [routerLink]="['/remove']">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
