<div id="form-wrapper">
    <h3 class="header">{{pageTitle}}</h3>
    <hr class="header-line">

    <div class="form-content">
        <form>
            <div class="form-group">
                <label>Campus</label>
                <select>
                    <option>Just to see at least one option</option>
                    <option *ngFor='let campus of campuses'>
                        {{ campus.campus_name }}
                    </option>
                </select>
                <br/>
                <label>Building</label>
                <select>
                    <option>Just to see at least one option</option>
                    <option *ngFor='let building of buildings'>
                        {{ building.building_name }}
                    </option>
                </select>
                            <br/>
                <label>Room #</label>
                    <input type="text" class="form-control" required placeholder="#####"/>
                                <br/>
                <label>Capacity</label>
                    <input type="text" class="form-control" required placeholder="#####"/>
                                <br/>
                <label>Features</label>
                            <br/>

                <button type="submit">Accept</button>
                <button (click)="goBack()">Cancel</button>

            </div>
        </form>
    </div>
 </div>