<div id="list-wrapper">
    <h2 class="header">{{pageTitle}}</h2>
    <hr class="header-line">

    <div class="list-content">
        <!--
        <p>This page will show the current list of sections as well as links for
            adding, editing, or removing sections.
        </p>
        -->

        <button [routerLink]="['/sectionForm']">Add Section</button>

        <div style="overflow-x:auto">
            <table>
                <tr>
                    <th class="id-column">Section ID</th>
                    <th class="name-column">Name</th>
                    <th class="crn-column">CRN</th>
                    <th class="cap-column">Capacity</th>
                    <th class="name-column">Course</th>
                    <th class="name-column">Instructor</th>
                    <th class="name-column">Semester</th>
                    <th class="name-column">Room</th>
                </tr>
                <tbody>
                    <tr *ngFor='let section of sections'>
                        <td class="id-column">{{ section.section_id }}</td>
                        <td class="name-column">{{ section.section_name }}</td>
                        <td class="crn-column">{{ section.section_crn }}</td>
                        <td class="cap-column">{{ section.section_capacity }}</td>
                        <td class="name-column">{{ section.course.course_name }}</td>
                        <td class="name-column">{{ section.instructor.instructor_first_name + ' ' + section.instructor.instructor_last_name}}</td>
                        <td class="name-column">{{ section.semester.semester_name }}</td>
                        <td class="name-column">{{ section.room.room_name }}</td>

                        <td class="edit-column"><a [routerLink]="['/editSection']">Edit</a></td>
                        <td class="remove-column"><a [routerLink]="['/removeSection']">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>