<div id="list-wrapper">
    <h2 class="header">{{pageTitle}}</h2>
    <hr class="header-line">

    <div class="list-content">
        <!--
        <p>This page will show the current list of sections as well as links for
            adding, editing, or removing sections.
        </p>
        -->

        <button [routerLink]="['/sectionForm']">Add Section</button>

        <div style="overflow-x:auto">
            <table>
                <tr>
                    <th>Section ID</th>
                    <th>Name</th>
                    <th>CRN</th>
                    <th>Capacity</th>
                    <th>Course</th>
                    <th>Instructor</th>
                    <th>Semester</th>
                    <th>Room</th>
                </tr>
                <tbody>
                    <tr *ngFor='let section of sections'>
                        <td>{{ section.section_id }}</td>
                        <td>{{ section.section_name }}</td>
                        <td>{{ section.section_crn }}</td>
                        <td>{{ section.section_capacity }}</td>
                        <td>{{ section.course }}</td>
                        <td>{{ section.instructor }}</td>
                        <td>{{ section.semester }}</td>
                        <td>{{ section.room }}</td>

                        <td><a [routerLink]="['/editSection']">Edit</a></td>
                        <td><a [routerLink]="['/removeSection']">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>