<div id="list-wrapper">
    <h3 class="header">{{pageTitle}}</h3>

    <div class="list-content">
        <p>This page will show the current list of sections as well as links for
            adding, editing, or removing sections.
        </p>

        <!-- <table border='1'>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Course Desc</th>
                <th>Credit Hours</th>
                <th>Prefix ID</th>
            </tr>
            <tbody>
                <tr *ngFor='let section of sections'>
                    <td>{{ section.section_id }}</td>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.course_description }}</td>
                    <td>{{ course.course_credit_hours }}</td>
                    <td>{{ course.prefix_id }}</td>
                </tr>
            </tbody>
        </table> -->

        <ul class="list">
            <li *ngFor='let section of sections'> <!-- *ngFor for the element to be repeated?-->
                <div>{{ section.section_name }}
                    <a [routerLink]="['/sectionForm']">Edit</a>
                    <a >Remove</a>
                </div>
            </li>
        </ul>

        <li><a [routerLink]="['/addSection']">Add Section</a></li>
        <li><a [routerLink]="['/editSection']">Edit Section</a></li>
        <li><a [routerLink]="['/removeSection']">Remove Section</a></li>

    </div>
</div>
