<div id="form-wrapper">
    <h2 class="header">{{pageTitle}}</h2>
    <hr class="header-line">

    <div class="form-content">

    <form #form="ngForm" (submit)='submitForm(form)'>
        <div class="form-group">

            <label>Section CRN</label>
                <input type="text" class="form-control" required placeholder="CRN" name="section_crn" [(ngModel)]="model.section_crn"/>
            <br/>
            <label>Section Capacity</label>
                <input type="text" class="form-control" required placeholder="Capacity" name="section_capacity" [(ngModel)]="model.section_capacity"/>
            <br/>
            <label>Course</label>
                <select name="course_id" [(ngModel)]="model.course_id">
                    <option *ngFor='let course of courses' id="course" value='{{course.course_id}}' name="course_id"  ngDefaultControl >
                        {{ course.full_course_name }}
                    </option>
                </select>
            <br/>
            <label>Instructor</label>
                <select name="instructor_id" [(ngModel)]="model.instructor_id">
                    <option *ngFor='let instructor of instructors' id="instructor" value='{{instructor.instructor_id}}' name="instructor_id"  ngDefaultControl >
                        {{ instructor.instructor_first_name + ' ' + instructor.instructor_last_name}}
                    </option>
                </select>
            <br/>
            <label>Semester</label>
                <select name="semester_id" [(ngModel)]="model.semester_id">
                    <option *ngFor='let semester of semesters' id="semester" value='{{semester.semester_id}}' name="semester_id"  ngDefaultControl >
                        {{ semester.semester_name}}
                    </option>
                </select>
            <br/>
            <label>Room</label>
                <select name="room_id" [(ngModel)]="model.room_id">
                    <option *ngFor='let room of rooms' id="room" value='{{room.room_id}}' name="room_id"  ngDefaultControl >
                        {{ room.full_room_name }}
                    </option>
                </select>
            <br/>
            <label>Days of the Week</label>
            <div class="checkbox">
                <label><input type="checkbox" name="mon" [(ngModel)]="days[0]">Mon&nbsp;&nbsp;&nbsp;</label>
                <label><input type="checkbox" name="tue" [(ngModel)]="days[1]">Tue&nbsp;&nbsp;&nbsp;</label>
                <label><input type="checkbox" name="wed" [(ngModel)]="days[2]">Wed&nbsp;&nbsp;&nbsp;</label>
                <label><input type="checkbox" name="thu" [(ngModel)]="days[3]">Thu&nbsp;&nbsp;&nbsp;</label>
                <label><input type="checkbox" name="fri" [(ngModel)]="days[4]">Fri&nbsp;&nbsp;&nbsp;</label>
                <label><input type="checkbox" name="sat" [(ngModel)]="days[5]">Sat&nbsp;&nbsp;&nbsp;</label>
            </div>
            <label>Start Time</label>
                <input type="text" class="form-control" required placeholder="Start Time" name="start_time" [(ngModel)]="starttime"/>
            <br/>
            <label>End Time</label>
                <input type="text" class="form-control" required placeholder="End Time" name="end_time" [(ngModel)]="endtime"/>
            <br/>





            <button type="submit">Submit</button>
            <button (click)="goBack()">Cancel</button>

        </div>
    </form>

    <!--Model: {{ model | json }}
    <br>
    Angular: {{ form.value | json }}-->


    </div>

</div>