<script src="../buildings/building-form.component.ts"></script>
<div id="form-wrapper">
    <h2 class="header">{{pageTitle}}</h2>
    <hr class="header-line">

    <div class="form-content">
        <form #form="ngForm" (submit)='submitForm(form)'>
            <div class="form-group">
                <label>Building Name</label>
                    <input type="text" class="form-control" required placeholder="Building Name" name="building_name" [(ngModel)]="model.building_name"/>
                    <br/>
                <label>Building Abbreviation</label>
                    <input type="text" class="form-control" required placeholder="Building Abbreviation" name="building_abbreviation" [(ngModel)]="model.building_abbreviation"/>
                    <br/>
                <label>Campus ID</label>
                    <input type="text" class="form-control" required placeholder="Campus ID" name="campus_id" [(ngModel)]="model.campus_id"/>
                    <br/>

                <button (click)="processAndGoBack()" type="submit">Submit</button>
                <button (click)="goBack()">Cancel</button>

            </div>
        </form>


    <!--Model: {{ model | json }}
    <br>
    Angular: {{ form.value | json }}-->

    </div>
 </div>