<div>
    <p>This page will show the current list of instructors as well as links for
        adding, editing, or removing instructors.
        </p>
<table border='1'>
    <tr>
        <th>Instructor ID</th>
        <th>Instructor Name</th>
        <th>Hours Required</th>
        <th>Notes</th>
    </tr>
    <tbody>
        <tr *ngFor='let instructor of instructors'>
            <td>{{ instructor.instructor_id }}</td>
            <td>{{ instructor.instructor_name }}</td>
            <td>{{ instructor.instructor_hours_required }}</td>
            <td>{{ instructor.instructor_notes }}</td>
            <td>{{ instructor.prefix_id }}</td>
        </tr>
    </tbody>
</table>
    <li><a [routerLink]="['/add']">Add Instructor</a></li>
    <li><a [routerLink]="['/edit']">Edit Instructor</a></li>
    <li><a [routerLink]="['/remove']">Remove Instructor</a></li>

</div>
